<nav>
  <div class="site-title">
    <a href="/"><h1>Blog Ninja</h1></a>
    <p>A net ninja site</p>
  </div>
  <div>
    <ul>
      <li><a href="/">Homepage</a></li>
      <li><a href="/tasks/create">Create Tasks</a></li>
    </ul>
  </div>
</nav>
